package com.imobile3.pos.data.module.order

import com.imobile3.pos.data.module.account.config.AccountConfigHelper
import com.imobile3.pos.data.module.account.repository.UserHelper
import com.imobile3.pos.library.constants.enums.TransactionRecordStatus
import com.imobile3.pos.library.constants.enums.TransactionSortType
import com.imobile3.pos.library.webservices.enums.OrderStatusType
import com.imobile3.pos.library.webservices.enums.PaymentType
import com.imobile3.pos.library.webservices.enums.TransactionSourceType
import com.imobile3.pos.library.webservices.enums.TransactionStatusType
import com.imobile3.pos.library.webservices.enums.TransactionType
import com.imobile3.pos.library.webservices.filters.TransactionSearchFilter
import com.imobile3.pos.library.webservices.filters.TransactionSearchFilter.SearchQueryType
import com.imobile3.pos.ui.search.SearchMode
import com.imobile3.pos.ui.search.SearchMode.Amount
import com.imobile3.pos.ui.search.SearchMode.CardLast4
import com.imobile3.pos.ui.search.SearchMode.DateTime
import com.imobile3.pos.ui.search.SearchMode.Name
import com.imobile3.pos.ui.search.SearchMode.Tender
import com.imobile3.pos.ui.search.SearchMode.TransactionNumber
import java.math.BigDecimal
import java.util.Date

object TransactionSearchFilterFactory {

    fun createSearchFilter(
        searchMode: SearchMode,
        searchString: String?,
        isFromScan: Boolean,
        fromDateTime: Date?,
        toDateTime: Date?,
        fromAmount: BigDecimal?,
        toAmount: BigDecimal?,
        paymentType: PaymentType?
    ) = TransactionSearchFilter().apply {
        sortType = TransactionSortType.CompletionDesc

        transactionRecordStatusList = listOf(
            TransactionRecordStatus.ReadyToUpload,
            TransactionRecordStatus.Historical
        )

        transactionTypes = listOf(
            TransactionType.Normal,
            TransactionType.Refund,
            TransactionType.Split,
            TransactionType.OpenItemRefund,
            TransactionType.OpenAmountRefund
        )

        transactionStatusTypes = listOf(
            TransactionStatusType.Completed,
            TransactionStatusType.Refunded,
            TransactionStatusType.RefundedItems,
            TransactionStatusType.RefundedAmount,
            TransactionStatusType.Cancelled,
            TransactionStatusType.Resolved
        )

        when (searchMode) {
            TransactionNumber -> {
                if (!searchString.isNullOrEmpty()) {
                    searchQuery = searchString
                    isSearchFromScan = isFromScan
                    searchQueryType = SearchQueryType.TransNum
                }
            }

            DateTime -> {
                if (fromDateTime != null && toDateTime != null) {
                    dateTimeStart = fromDateTime
                    dateTimeEnd = toDateTime
                    searchQueryType = SearchQueryType.DateTime
                }
            }

            Name -> {
                if (!searchString.isNullOrEmpty()) {
                    searchQuery = searchString
                    searchQueryType = SearchQueryType.CardHolderName
                }
            }

            CardLast4 -> {
                if (!searchString.isNullOrEmpty()) {
                    searchQuery = searchString
                    searchQueryType = SearchQueryType.CardLast4
                }
            }

            Amount -> {
                if (fromAmount != null && toAmount != null) {
                    minimumAmount = fromAmount
                    maximumAmount = toAmount
                    searchQueryType = SearchQueryType.Amount
                }
            }

            Tender -> {
                if (paymentType != null) {
                    if (paymentType == PaymentType.CustomTender
                        && !searchString.isNullOrEmpty()
                    ) {
                        searchQuery = searchString
                    }
                    searchQueryPaymentType = paymentType
                    searchQueryType = SearchQueryType.PaymentType
                }
            }

            else -> Unit
        }
    }

    fun createQuarantineOrdersFilter() = TransactionSearchFilter().apply {
        sortType = TransactionSortType.RevisionAsc
        transactionRecordStatusList = listOf(TransactionRecordStatus.InProgress)
    }

    fun createAllOrdersFilter() = TransactionSearchFilter().apply {
        sortType = TransactionSortType.CompletionDesc

        transactionRecordStatusList = listOf(
            TransactionRecordStatus.ReadyToUpload,
            TransactionRecordStatus.Historical
        )

        transactionTypes = listOf(
            TransactionType.Normal,
            TransactionType.Refund,
            TransactionType.Split,
            TransactionType.OpenItemRefund,
            TransactionType.OpenAmountRefund
        )

        transactionStatusTypes = listOf(
            TransactionStatusType.Completed,
            TransactionStatusType.Refunded,
            TransactionStatusType.RefundedItems,
            TransactionStatusType.RefundedAmount,
            TransactionStatusType.Cancelled,
            TransactionStatusType.Resolved
        )
    }

    fun createMyOrdersFilter() = TransactionSearchFilter().apply {
        sortType = TransactionSortType.CompletionDesc

        userId = UserHelper.getUserId()

        transactionRecordStatusList = listOf(
            TransactionRecordStatus.ReadyToUpload,
            TransactionRecordStatus.Historical
        )

        transactionTypes = listOf(
            TransactionType.Normal,
            TransactionType.Refund,
            TransactionType.Split,
            TransactionType.OpenItemRefund,
            TransactionType.OpenAmountRefund
        )

        transactionStatusTypes = listOf(
            TransactionStatusType.Completed,
            TransactionStatusType.Refunded,
            TransactionStatusType.RefundedItems,
            TransactionStatusType.RefundedAmount,
            TransactionStatusType.Cancelled,
            TransactionStatusType.Resolved
        )
    }

    fun createOnlineOrdersFilter() = TransactionSearchFilter().apply {
        sortType = TransactionSortType.CompletionDesc

        transactionRecordStatusList = listOf(
            TransactionRecordStatus.ReadyToUpload,
            TransactionRecordStatus.Historical
        )

        transactionSourceTypes = listOf(TransactionSourceType.OnlineOrdering)

        orderStatusTypes = listOf(OrderStatusType.Rejected, OrderStatusType.Completed)

        transactionStatusTypes = listOf(
            TransactionStatusType.Completed,
            TransactionStatusType.Refunded,
            TransactionStatusType.RefundedItems,
            TransactionStatusType.RefundedAmount,
            TransactionStatusType.Cancelled,
            TransactionStatusType.Resolved
        )
    }

    fun createMyRegisterFilter() = TransactionSearchFilter().apply {
        sortType = TransactionSortType.CompletionDesc

        registerId = AccountConfigHelper.getRegisterId()

        transactionRecordStatusList = listOf(
            TransactionRecordStatus.ReadyToUpload,
            TransactionRecordStatus.Historical
        )

        transactionTypes = listOf(
            TransactionType.Normal,
            TransactionType.Refund,
            TransactionType.Split,
            TransactionType.OpenItemRefund,
            TransactionType.OpenAmountRefund
        )

        transactionStatusTypes = listOf(
            TransactionStatusType.Completed,
            TransactionStatusType.Refunded,
            TransactionStatusType.RefundedItems,
            TransactionStatusType.Cancelled,
            TransactionStatusType.Resolved
        )
    }

    fun createCompletedOrdersFilter() = TransactionSearchFilter().apply {
        sortType = TransactionSortType.CompletionDesc

        transactionRecordStatusList = listOf(
            TransactionRecordStatus.ReadyToUpload,
            TransactionRecordStatus.Historical
        )

        transactionTypes = listOf(TransactionType.Normal, TransactionType.Split)

        transactionStatusTypes = listOf(
            TransactionStatusType.Completed,
            TransactionStatusType.Resolved
        )
    }

    fun createInvoicesOrdersFilter() = TransactionSearchFilter().apply {
        sortType = TransactionSortType.CompletionDesc

        isInvoiceTransaction = true

        transactionRecordStatusList = listOf(
            TransactionRecordStatus.ReadyToUpload,
            TransactionRecordStatus.Historical
        )

        transactionTypes = listOf(
            TransactionType.Normal,
            TransactionType.Split
        )

        transactionStatusTypes = listOf(
            TransactionStatusType.Completed,
            TransactionStatusType.Cancelled,
            TransactionStatusType.BadDebt
        )
    }

    fun createVirtualTerminalOrdersFilter() = TransactionSearchFilter().apply {
        sortType = TransactionSortType.CompletionDesc

        transactionRecordStatusList = listOf(
            TransactionRecordStatus.ReadyToUpload,
            TransactionRecordStatus.Historical
        )

        transactionSourceTypes = listOf(TransactionSourceType.VirtualTerminal)
    }

    fun createRefundedOrdersFilter() = TransactionSearchFilter().apply {
        sortType = TransactionSortType.CompletionDesc

        transactionRecordStatusList = listOf(
            TransactionRecordStatus.ReadyToUpload,
            TransactionRecordStatus.Historical
        )

        transactionTypes = listOf(
            TransactionType.Refund,
            TransactionType.OpenItemRefund,
            TransactionType.OpenAmountRefund
        )

        transactionStatusTypes = listOf(
            TransactionStatusType.Completed,
            TransactionStatusType.Refunded,
            TransactionStatusType.RefundedItems,
            TransactionStatusType.RefundedAmount,
            TransactionStatusType.Resolved
        )
    }

    fun createCancelledOrdersFilter() = TransactionSearchFilter().apply {
        sortType = TransactionSortType.RevisionDesc

        transactionRecordStatusList = listOf(
            TransactionRecordStatus.ReadyToUpload,
            TransactionRecordStatus.Historical
        )

        transactionTypes = listOf(
            TransactionType.Normal,
            TransactionType.Refund,
            TransactionType.Split,
            TransactionType.OpenItemRefund,
            TransactionType.OpenAmountRefund
        )

        transactionStatusTypes = listOf(TransactionStatusType.Cancelled)
    }
}
