package com.imobile3.pos.data.module.batch.report

import android.database.Cursor
import android.util.SparseArray
import androidx.annotation.VisibleForTesting
import androidx.annotation.WorkerThread
import com.imobile3.pos.data.module.batch.BatchManager
import com.imobile3.pos.data.module.order.cart.tender.TenderManager
import com.imobile3.pos.data.module.order.cart.transaction.TransactionRepository
import com.imobile3.pos.library.constants.enums.CvmResult
import com.imobile3.pos.library.database.extensions.map
import com.imobile3.pos.library.domainobjects.BatchReport
import com.imobile3.pos.library.domainobjects.TxDbTender
import com.imobile3.pos.library.domainobjects.TxDbTransaction
import com.imobile3.pos.library.utils.LogHelper
import com.imobile3.pos.library.webservices.enums.PaymentType
import com.imobile3.pos.library.webservices.enums.TenderCreditStatusType
import com.imobile3.pos.library.webservices.enums.TenderStatusType
import com.imobile3.pos.library.webservices.enums.TenderType
import com.imobile3.pos.library.webservices.enums.TransactionStatusType
import com.imobile3.pos.library.webservices.transferobjects.BatchDepositDto
import com.imobile3.pos.library.webservices.transferobjects.CustomTenderFieldsDto
import java.math.BigDecimal
import java.util.logging.Level
import javax.inject.Inject

open class GetBatchSummaryListWithReportsUseCase @Inject constructor(
    private val transactionRepository: TransactionRepository,
    private val batchManager: BatchManager,
    private val tenderManager: TenderManager
) {

    @WorkerThread
    open fun execute(tag: String, batchNumbers: List<Long>): List<BatchSummaryResponse> =
        batchNumbers.map { batchNumber ->
            BatchSummaryResponse().apply {
                this.batchNumber = batchNumber
                this.batchReport = getBatchReport(tag, batchNumber)
            }
        }

    /**
     * @throws Exception if an error occurs while generating the batch report.
     * The exact cause of the exception occurring in Production is unknown at
     * this time, but we suspect it is related to a backwards-incompatibility
     * issue with the [CvmResult] stored in our local database, from a previous
     * version of the POS app.
     */
    @VisibleForTesting
    fun getBatchReport(tag: String, batchNumber: Long): BatchReport {
        val report = BatchReport()
        var cursor: Cursor? = null

        try {
            cursor = transactionRepository.getTransactionsFromBatchNumber(batchNumber)

            cursor?.map {
                val transaction: TxDbTransaction =
                    transactionRepository.getTransactionFromCursor(it)
                val status: TransactionStatusType? = transaction.transactionStatusType

                if (!(status == TransactionStatusType.Cancelled
                            || status == TransactionStatusType.Pending)
                ) {
                    generateDeposits(
                        tag, transactionRepository.getTendersByTransactionNumber(
                            transaction.transactionNumber
                        ), report
                    )
                    generateUserTipTotal(transaction, report)
                }
            }

            removeZeroTotalDeposits(report)
        } catch (e: Exception) {
            LogHelper.write(
                Level.SEVERE, tag,
                "getBatchReport() -> Exception thrown while generating batch report" +
                        " for Batch Number $batchNumber -> Re-throwing exception: ${e.message}"
            )

            // We want the BaseViewModel.launchDataLoad function to catch this exception,
            // and then execute the 'doOnThrowable' pathway, which will allow our ViewModel
            // to save the Exception to our Azure Service Bus and emit a UI error event.
            throw e
        } finally {
            cursor?.let {
                if (!it.isClosed) it.close()
            }
        }

        return report
    }

    /**
     * Removes all [BatchDepositDto] from [report] with TotalAmount zero
     */
    @VisibleForTesting
    fun removeZeroTotalDeposits(report: BatchReport) {
        // Report.Deposits is initialized to an empty list in the constructor.
        val deposits: List<BatchDepositDto> =
            report.deposits.filter { deposit -> deposit.totalAmount.signum() != 0 }

        report.deposits = deposits
    }

    @VisibleForTesting
    fun generateDeposits(tag: String, tenders: List<TxDbTender>?, report: BatchReport) {
        if (tenders == null) {
            LogHelper.writeWithTrace(Level.WARNING, tag, "Tenders argument is null")
            return
        }

        tenders.forEach { tender ->
            val status: TenderStatusType? = tender.tenderStatusType
            val type: TenderType? = tender.tenderType

            if (!TenderManager.isTenderStatusTypeValid(status)) {
                return@forEach
            }

            // Don't include non authorized tenders that were removed prior to completion of the
            // transaction
            if (tenderManager.isNonAuthTender(tender) && TenderManager.isCancelled(tender)) {
                return@forEach
            }

            // Don't include voided non authorised tenders like Cash, Checks in calculations
            if (tenderManager.isNonAuthTender(tender) && TenderManager.isVoided(tender)) {
                return@forEach
            }

            // Don't include tenders that failed to void
            if (TenderManager.isFailedToVoid(tender)) {
                return@forEach
            }

            // Update Initial Tip Adjust Tender Count
            if (shouldUpdateTenderCount(type, status, tender)) {
                report.tipAdjustTenderCount = report.tipAdjustTenderCount + 1
            }

            getCustomTenderDeposits(report, tender, tag)
        }
    }

    @VisibleForTesting
    fun shouldUpdateTenderCount(
        type: TenderType?,
        status: TenderStatusType?,
        tender: TxDbTender,
    ): Boolean {
        return (type == TenderType.Normal || type == TenderType.Split)
                && (status == TenderStatusType.Completed ||
                status == TenderStatusType.RefundedItems)
                && tender.paymentType == PaymentType.CreditCard
                && tender.tenderCreditStatusType == TenderCreditStatusType.Authorized
                && tender.cvmResult != CvmResult.PinOnline
                && tender.cvmResult != CvmResult.PinOfflinePlain
                && tender.cvmResult != CvmResult.PinOfflineEncr
                && tender.cvmResult != null
    }

    /**
     * Create/Update Deposit
     *
     * MULTIPLE Custom Tender Batch Deposits will be created to keep track of the specific
     * custom tender details
     */
    @VisibleForTesting
     fun getCustomTenderDeposits(
        report: BatchReport,
        tender: TxDbTender,
        tag: String
    ) {
        var depositToAdjust: BatchDepositDto? = null
        var addDeposit = true

        for (deposit in report.deposits) {
            if (deposit.paymentType == tender.paymentType) {
                // Custom Tenders
                if (deposit.paymentType == PaymentType.CustomTender) {
                    val depositFields: CustomTenderFieldsDto? =
                        batchManager.getCustomTenderFieldsDto(deposit)
                    val tenderFields: CustomTenderFieldsDto? = tender.customFields
                    if (depositFields?.customTenderId == tenderFields?.customTenderId) {
                        depositToAdjust = deposit
                        addDeposit = false
                        break
                    }
                } else {
                    depositToAdjust = deposit
                    addDeposit = false
                    break
                }
            }
        }

        if (depositToAdjust == null) {
            depositToAdjust = BatchDepositDto().apply {
                paymentType = tender.paymentType
                orderAmount = BigDecimal.ZERO
                tipAmount = BigDecimal.ZERO
                changeAmount = BigDecimal.ZERO
                totalAmount = BigDecimal.ZERO // Expected
                amountReceived = BigDecimal.ZERO
                depositAmount = BigDecimal.ZERO // Actual
                overShortAmount = BigDecimal.ZERO // Difference (Actual - Expected)
            }
        }

        depositToAdjust.apply {
            orderAmount += tender.orderAmount ?: BigDecimal.ZERO
            tipAmount += tender.tipAmount ?: BigDecimal.ZERO
            changeAmount += tender.changeAmount ?: BigDecimal.ZERO
            totalAmount += tender.totalAmount ?: BigDecimal.ZERO
            amountReceived += tender.amountReceived ?: BigDecimal.ZERO
            tender.customFields?.let {
                customTenderFields = it.toJson()
            }
        }

        if (addDeposit) {
            LogHelper.writeWithTrace(
                Level.FINE, tag,
                "Adding deposit to Batch Report: $depositToAdjust"
            )
            report.addDeposit(depositToAdjust)
        }
    }

    @VisibleForTesting
    fun generateUserTipTotal(transaction: TxDbTransaction, report: BatchReport) {
        // Report.UserTipTotalMap is initialized to an empty SparseArray in the constructor.
        val userTipTotalMap: SparseArray<BigDecimal?> = report.userTipTotalMap
        val userId = transaction.userId

        val tipTotal = transaction.totalTips ?: BigDecimal.ZERO

        if (userTipTotalMap[userId] == null) {
            // New Entry
            userTipTotalMap.put(userId, tipTotal)
        } else {
            // Existing Entry : Add previous value to new value
            userTipTotalMap.put(userId, userTipTotalMap[userId]?.add(tipTotal))
        }

        report.userTipTotalMap = userTipTotalMap
    }
}
